.home {
  background-color: white;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
}

.logo-container {
  position: absolute;
  top: 9.5%;
  width: 100vw;
  z-index: 9999;
}

.home-logo {
  height: 3rem;
  width: auto;
  display: block;
  margin: auto;
}

.home-container {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.home-container > h1 {
  font-size: 300%;
  padding: 0.6rem;
  font-weight: 700;
}

.home-container > p {
  padding: 0.6rem 0 1.6rem;
  font-size: 115%;
}

.continue-button {
  text-align: center;
  width: 25vw;
  font-weight: 700;
  padding: 0.6rem 0.4rem;
  margin: 0.6rem 0;
  border: 1px solid black;
  border-radius: 0.4rem;
  display: grid;
  grid-template-columns: 30% 60%;
  justify-items: center;
}

.continue-icon {
  height: 1.1rem;
  width: auto;
}

.or-container {
  margin: 0.6rem 0;
}

.signup-form-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.login-link-container {
  text-align: center;
  top: 100%;
  position: fixed;
}

.login-link-container > * {
  padding: 0.6rem 0;
}

.login-link,
.login-link:visited {
  text-align: center;
  text-decoration: none;
  color: #1264a3;
}

.login-link:hover {
  text-decoration: underline;
}
