.sidebar {
  width: 18%;
  height: 100vh;
  top: 0;
  position: fixed;
  background-color: rgb(62, 62, 62);
  color: white;
}

.channels-container {
  padding-top: 25%;
}

.messages-container {
  position: absolute;
  top: 55%;
}

.channels-container > h3,
.messages-container > h3 {
  padding: 1rem 1rem 0.7rem;
}

.channel-ul-container {
  overflow: auto;
  max-height: 30vh;
}

.channel-container,
.message-container {
  margin: 0.5rem 0;
}

.message-ul-container {
  overflow-y: auto;
  max-height: 30vh;
  width: 30vw;
}

.channel,
.message {
  list-style-type: none;
  display: grid;
  padding: 1rem;
}

.channel {
  grid-template-columns: 80% 20%;
}

.edit-icon-view {
  display: none;
}

.update-delete-icon-view {
  display: flex;
  justify-content: space-between;
}

.create-channel form {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0.8rem;
}

.create-channel-input {
  width: 55%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  padding: 0.3rem 0;
  outline: none;
  color: white;
}

.channel-name-link,
.channel-name-link:active {
  text-decoration: none;
  color: white;
}

.channel:hover,
.message:hover {
  background-color: rgb(30, 30, 30);
  cursor: pointer;
}

.select-channel-users {
  height: 15vh;
}

.edit-channel-buttons {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.channel:hover .edit-icon-view {
    display: flex;
    justify-content: flex-end;
}