.error-message {
  padding: 1rem 0;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  color: red;
  font-size: 70%;
}

.signup-form-inputs {
  display: flex;
  flex-direction: column;
}

.signup-form-input {
  padding: 0.6rem;
  margin: 0.6rem 0;
  border: 1px solid black;
  width: 25vw;
  border-radius: 0.4rem;
}

.signup-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0.6rem 0.4rem;
  margin: 0.6rem 0;
  width: 25vw;
  font-weight: 700;
  background-color: #7c3085;
  color: white;
  border-radius: 0.4rem;
  border: none;
  cursor: pointer;
}
